
<%- include('include/head') %>
    <title>Inventory Report</title>
</head>
<style>
     
     #content {
        font-size: 1rem;
        background-color: white;
     }
     
     @media print{
        .content form{
            visibility: hidden;

        }
        .content button{
            visibility: hidden;
        }
        #page-content-wrapper nav{
            visibility: hidden;
        }
        
     }
</style>
<body>
    <div class="d-flex" id="wrapper">
        <!-- Sidebar -->
        <%- include('include/sidebar') %>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <nav class="navbar navbar-expand-lg navbar-light bg-transparent py-4 px-4">
                <div class="d-flex align-items-center">
                    <i class="fas fa-align-left primary-text fs-4 me-3  text-dark" id="menu-toggle"></i>
                    <h2 class="fs-2 m-0">Inventory Report</h2>
                </div>

                <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle second-text fw-bold text-white" href="#" id="navbarDropdown"
                                role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fas fa-user me-2 text-white"></i>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">Settings</a></li>
                                <li><a class="dropdown-item" href="#">Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                </div> -->
            </nav>
            <!-- print -->
            <div class="content">
                
                <div class="fs-4 mb-5"></div>
                <div class=" d-flex justify-content-end   me-3 mb-1  ">
                    <form action="/admin/inventory-report " method="GET">
                        <!-- <input type="text" name="result" id=""> -->
                        <select name="result" id="" class="px-1 py-1">
                            <option value="" disabled selected>Please Select</option>
                            <option value="Walk In">Walk In</option>
                            <option value="Damaged">Damaged</option>
                            <option value="Mistyped">Mistyped</option>
                            <option value="Online">Online</option>
                        </select>
                        <button  class="btn btn-dark me-1  px-3 py-"><i class="fa fa-search fa-2xs"></i></button>
                    </form>
                    <button class="btn btn-dark   px-3 py-1 " id="print"> 
                        <i class="bi bi-printer-fill"></i>
                    </button>
                </div>
                <!-- BODY CONTENTs -->
                <!-- TABLE WITH USERS DATA -->
                <table class="table table-hover text-center bg-white">
                    <thead class="table-dark">
                        <tr>
                            <th scope="col">Product Image</th>
                            <th scope="col">Product Name</th>
                            <th scope="col">Current Stocks</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Updated Stocks</th>
                            <th scope="col">Reason</th>
                            <th scope="col">Date</th>
                          
                        </tr>
                        </thead>
                        <tbody>
                            <% report.forEach(data => { %>
                            <tr>
                                <td><img src="/<%- data.img_name %>" alt="" style="width: 50px; height: 50px;"></td>
                                <td><%- data.product_name %></td>
                                <td><%- data.current_stock %></td>
                                <td><%- data.product_quantity %></td>
                                <td><%- data.updated_stock %></td>
                                <td><%- data.reason %></td>
                                <td><%- data.date_remove.toLocaleString() %></td>
                            </tr>
                            
                            <% }) %>
                        </tbody>
                </table> 
                <% if(report == '') { %> 
                    <h4 class="text-center"> No data</h4>
                <% } %>    
                  
            </div>
        </div>
    </div>
    <script src="/js/admin.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>


    
</body>
</html>