<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" type="text/css" href="/css/notif.css">
   <title>One Time Notification</title>
</head>
<body>
    <div class="bg-container">
        <div class="container">
            <header>
                <h1 id='title'>ONE TIME NOTIFICATION</h1>
                <p id='description'>
                    this notification can also serve as your receipt!
                </p>
            </header>
            
            <div class="form-input">
                <h2>ORDER DETAILS</h2>
                    <p><span class="details">Fullname:</span> <%- order.fullname %></p>
                    <p><span class="details">Contacts:</span><%- order.contact_number %></p>
                    <p><span class="details">Delivery Address:</span> <%- order.address %></p>
                    <p><span class="details">Order:</span> <%- order.items[0].name %></p>
                    <p><span class="details">Total:</span> <%- order.total_amount %></p>
                    <p class="details">Estimated Time Arrival: 1 to 2 hrs</p>
            </div>
            <div class="form-input">
                <h2>Reminders</h2>
                <p class="reminders">This is only a one time notification since you ordered through quick order.
                You wont be able to track your order though our website and we will be contacting 
                you through your provided contact number. If ever you want an update with your order 
                you can contact us with the number provided at the ABOUT section. Thank you for your purchase!
                </p>
            </div>

            <div class='form-input'>
               <a href="/product" ><button type='submit' id='submit'>Done</button></a>
            </div>
        </div>
    </div>

</body>
</html>